<div class="settingContent" id="change-password">
  <div class="formBox">
    <form method="POST" action="{{ url_for('change_password_post', name=current_user.name) }}">
      <h2>Change Password</h2>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p><em class="flash">
          {{ message }}
        </em></p>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="field">
        <input type="password" placeholder=" " name="old_pass" id="old-password" required>
        <label for="old-password">Old Password</label>
      </div>
      <p>Enter New Password</p>
      <div class="field">
        <input type="password" placeholder=" " name="new_pass" id="password" required>
        <label for="password">New Password</label>
      </div>
      <div class="field">
        <input type="password" placeholder=" " name="" id="confirm_password" required>
        <label for="confirm_password">Confirm Password</label>
      </div>
      <button class="btn" type="submit"> Change </button>
    </form>
  </div>
</div>